.Container,.Container > *{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Container{
    width: 100%;
    height: 100vh;
    /*border: 2px solid black;*/
}
.Container > *{
    /*border: 2px solid red;*/
    width: 100%;
    height: 100%;
}